<div class="center hero-unit">
  <h1>Sam and Sergio Getting Married</h1>
  <p>
    This is the home page for the <%= link_to "Home", root_path %>.
  </p>
  <%= link_to "Sign up now!", sign_up_path, class: "btn btn-large btn-primary" %>
</div>
